/* snackBar */
#snackBar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 70px;
    visibility: hidden;
    z-index: 10000;
}

#snackBar a {
    padding: 10px 20px;
    background-color: #874310;
    color: #fff;
    font-size: 1.5em;
    border-radius: 10px;
}

#snackBar.show {
    visibility: visible;
    animation: fadeIn 1s, fadeOut 1s 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        bottom: 0px;
    }

    to {
        opacity: 1;
        bottom: 70px;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        bottom: 70px;
    }

    to {
        opacity: 0;
        bottom: 0px;
    }
}
