#alert {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-right: 20px;
    z-index: 10000000;
}

#alert .border {
    --alert_before_width: 100%;
    --alert_before_transition_duration: 3s;
    position: relative;
    display: flexbox;
    right: -25em;
    width: 20em;
    height: auto;
    margin-bottom: 20px;
    transition: right 0.5s ease;
}

#alert .border .content {
    position: relative;
    width: 20em;
    padding: 10px 5px;
    transition: transform 0.2s ease;
    perspective-origin: 50% 50%;
}

#alert .border .content::before {
    content: "";
    width: var(--alert_before_width);
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition-property: width;
    transition-timing-function: linear;
    transition-duration: var(--alert_before_transition_duration);
}

#alert .border.show {
    right: 0px;
}

#alert .border.close {
    right: -25em;
}
